* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*****************NAV*********************/

.aside-bar {
  display: flex;
  flex-direction: column;
  float: left;
  width: 250px;
  height: calc(100vh - 100px);
  background-color: black;
  color: #fff;
  font-size: 12px; 
}

.logo-spotify .img-big {
  width: 100%;
  height: 100px;
  line-height: 100px;
  padding: 25px;
  color: white;
}

.logo-spotify .img-small {
  display: none;
}

.img-svg {
  width: 12%;
  vertical-align: middle;
  opacity: 0.8;
}

.img-profile {
  background-color: #a3a3a3;
  color: white;
  border-radius: 50%;
}

.list {
  padding: 0 15px;
  line-height: 30px;
}

.lista-1 {
  margin-bottom: 10px;
  overflow: hidden;
}

.lista-1 ul li, .lista-2 ul li, .lista-3 ul li {
  list-style: none;
  color: #a3a3a3;
}

.lista-1 ul li:hover, .lista-2 ul li:hover, .lista-3 ul li:hover {
  color: white;
}

.lista-2 {
  flex-grow: 1;
  overflow: auto;
}

.lista-2 ul li i {
  padding: 10px;
  font-size: 20px;
  background-color: #a3a3a3;
  color: black;
}

.lista-3 {
  display: flex;
  overflow: hidden;
}

.lista-3 ul li:first-child {
  border-bottom: 1px solid #a3a3a3;
}

.lista-3 ul li:last-child {
  color: white;
  font-weight: bold;
}

.lista-3 ul li i {
  margin-right: 5px;
}

.lista-3 ul li img.svg, .lista-3 ul li .img-profile {
  margin: 10px 0;
}

/*****************MAIN*********************/

main {
  float: left;
  width: calc(100% - 250px);
  height: calc(100vh - 100px);
  background-color: #141922;
  color: #fff;
  overflow: auto;
}

main .head-bar {
  display: flex;
  align-content: center;
  position: fixed;
  justify-content: flex-end;
  width: calc(100% - 250px);
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.head-bar button {
  height: 44%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.head-bar button:hover {
  transform: scale(1.1);
}

.main-nav {
  margin-top: 130px;
}

.main-nav ul {
  text-align: center;
}

.main-nav li {
  display: inline-block;
  text-transform: uppercase;
  color: #a3a3a3;
  font-weight: bold;
  font-size: small;
  padding: 0 15px;
}

.main-nav li:hover {
  color: white;
}

.music-content {
  padding: 35px 15px;
}

.music-raw {
  width: 100%;
  margin-bottom: 50px;
}

.music-raw-title {
  color: white;
}

.music-raw-title h6 {
  color: #7b7e82;
  padding-top: 10px;
}

.img-music-content {
  display: flex;
  margin-top: 30px;
}

.box {
  width: 15%;
  padding-right: 20px;
}

.image-box {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.image-box img{
  width: 100%;
  display: block;
}

.image-box .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: none;
  font-size: 3vw;
}

.image-box .overlay-box.radius {
  border-radius: 50%;
}

.image-box:hover .overlay-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box h4, .text-box h6{
  text-align: center;
}

.text-box h6 {
  color: #7b7e82;
  padding-top: 10px;
}

.image-box.radius img {
  border-radius: 50%;
}


/*****************FOOTER*********************/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #282828;
  color: #fff;
}

.player-left {
  display: flex;
  width: 250px;
}

.player-left img {
  width: 20%;
  margin: 0 10px;
}

.player-left ul {
  list-style: none;
  padding-top: 10px;
  margin-right: 40px;
}

.player-left ul li h6 {
  color: #7b7e82;
}

.player-left ul li h6:hover {
  text-decoration: underline;
}

.player-left i {
  color: #7b7e82;
  margin-left: 10px;
  padding-top: 15px;
}

.player-left i:hover {
  color: white;
}

.player-center {
  display: flex;
  flex-direction: column;
  width: calc(100% - 500px)
}

.player-bar {
  display: flex;
  width: 100%;
  justify-content: center;
}

.player-center-top, .player-center-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px 0;
}

.player-center-top ul {
  list-style: none;
}

.player-center-top ul li {
  display: inline-block;
  padding: 0 15px;
}

.player-center-top ul li:nth-child(3) {
  font-size: 25px;
}

.player-bar-bkg {
  height: 6px;
  width: 70%;
  background-color: #5a5a5a;
  border-radius: 2px;
}

.player-bar-bkg .player-bar-white {
  height: 6px;
  width: 20%;
  background-color: #c1c1c1;
  border-radius: 2px;
}

.player-bar-white:hover {
  height: 6px;
  width: 20%;
  background-color: #adff2f;
  border-radius: 2px;
}

.player-right {
  display: flex;
  width: 250px;
}

.player-right ul {
  list-style: none;
}

.player-right ul li {
  display: inline-block;
  padding: 0 10px;
}

.player-bar-right {
  padding-top: 5px;
}

.player-bar-bkg-right {
  height: 6px;
  width: 100px;
  background-color: #5a5a5a;
  border-radius: 2px;
}

.player-bar-bkg-right .player-bar-white-right {
  height: 6px;
  width: 20px;
  background-color: #c1c1c1;
  border-radius: 2px;
}

.player-bar-white-right:hover {
  height: 6px;
  width: 20px;
  background-color: #adff2f;
  border-radius: 2px;
}


/****************CSS MEDIA QUERY*********************/

@media screen and (max-width: 991px) {
  .img-music-content {
    flex-wrap: wrap;
  }
  
  .box {
    width: 25%;
  }

  .text-box {
    margin-bottom: 20px;
  }

  .text-box h4 {
    font-size: 12px;
    line-height: 13px;
  }

  .music-raw {
    margin-bottom: 30px;
  }

  .player-center-top ul li {
    padding: 0 5px;
  }
}




@media screen and (max-width: 767px) {
  .aside-bar {
    width: 200px;
  }

  main {
    width: calc(100% - 200px);
  }
  
  main .head-bar {
    width: calc(100% - 200px);
  }

  .box {
    width: 50%;
  }

  .text-box {
    margin-bottom: 10px;
  }

  .text-box h4 {
    font-size: 14px;
  }

  .player-left {
    width: 150px;
  }

  .player-right {
    width: 150px;
  }

  .player-center {
    flex-direction: column;
    width: calc(100% - 300px)
  }

  .player-left ul {
  margin-right: 10px;
  }

  .player-bar-bkg-right {
    width: 50px;
  }
  
  .player-bar-bkg-right .player-bar-white-right {
    width: 10px;
  }
  
  .player-bar-white-right:hover {
    width: 10px;
  }

  .player-right ul li {
    padding: 0 5px;
  }

  .player-left img {
    width: 33%;
  }

  .player-bar-bkg {
    width: 50%;
  }
  
  .player-bar-bkg .player-bar-white {
    width: 10%;
    background-color: #c1c1c1;
    border-radius: 2px;
  }
  
  .player-bar-white:hover {
    width: 10%;
  }

}


@media screen and (max-width: 575px) {
  .aside-bar {
    width: 40px;
  }

  main {
    width: calc(100% - 40px);
  }

  main .head-bar {
    width: calc(100% - 40px);
  }

  .box {
    width: 50%;
  }

  .player-left {
    width: 100px;
  }

  .player-left ul {
    padding-top: 0;
  }

  .player-left i {
    margin-left: 0;
  }

  .player-right {
    width: 100px;
  }

  .player-center {
    flex-direction: column;
    width: calc(100% - 200px)
  }

  .player-bar-bkg-right {
    width: 30px;
  }
  
  .player-bar-bkg-right .player-bar-white-right {
    width: 7px;
  }
  
  .player-bar-white-right:hover {
    width: 7px;
  }

  .player-right ul li {
    font-size: 13px;
    padding: 0 2px;
  }

  .player-left img {
    width: 33%;
  }

  .player-bar-bkg {
    width: 30%;
  }
  
  .player-bar-bkg .player-bar-white {
    width: 7%;
    background-color: #c1c1c1;
    border-radius: 2px;
  }
  
  .player-bar-white:hover {
    width: 7%;
  }

  .logo-spotify .img-big {
    display: none;
  }

  .logo-spotify .img-small {
    display: block;
    padding: 5px;
  }

  .lista-2 ul li {
    display: none;
  }

  .list {
    display: none;
  }
}

@media screen and (max-height: 200px) {
  main .head-bar {
    display: none;
  }
  
}